<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="malaysiaCustomer"
		class="com.myPack.cusstomer.Customers">
	<property name="country" value="Malasyia"></property>
	</bean>
	<bean id="customerBean" parent="malaysiaCustomer">
		<property name="action" value="buy"></property>
		<property name="type" value="1"></property>
	</bean>
</beans>
